.people_list {

}
.people_list li {
	margin-bottom:15px;
	border-bottom:1px solid #f3f1f1;
	border-left:3px solid #F3F1F1;
	height:60px;
}
.people_list li:hover {
	background:#eef;
}
.people_list li img {
	height:60px;
	width:60px;
	float:left;
	margin-right:10px;
}
.people_list li h3 {
	display:inline;
	vertical-align:top;
	border-bottom:1px solid #ccc;
	margin-bottom:4px;
}
.people_list li span {
	vertical-align:top;
	font-style: italic;
}
.people_feed li div {
	display:inline;
}
.people_feed {

}
.people_feed li {
	margin-bottom:15px;
	border-bottom:1px solid #f3f1f1;
	border-left:3px solid #F3F1F1;
	height:30px;
}
.people_feed li:hover {
	background:#eef;
}
.people_feed li img {
	height:30px;
	width:30px;
	float:left;
	margin-right:10px;
}
.people_feed li h3 {
	display:inline;
	vertical-align:top;
	border-bottom:1px solid #ccc;
	margin-bottom:4px;
}
.people_feed li span {
	vertical-align:top;
	font-style: italic;
}
.people_feed li div {
	display:inline;
}

#project_column_table {
	
}
#project_column_table tr {
	
}
#project_column_table tr td {
	background:#f5f4f4;
	border:1px solid #ddd;
	width:150px;
	text-align:center;
	vertical-align:top;
}
#project_column_table tr td:hover {
	border:1px solid #9bb50b;
}
#project_column_table tr td img {
	height:100px;
	width:100px;
	margin:auto;
}
#project_column_table tr td a {
	display:block;
}
#project_column_table tr td:hover {
	background:#eee;
}
.project_title {
	font-weight:bold;
	margin-bottom:10px;
}
.project_description {
	font-size:10px;
	font-weight:none;
}

#person_column_table tr td div {
	text-align:center;
}
#person_column_table tr td div img {
	height:60px;
	width:60px;
}

#sponsors {
	margin-top:50px;
}

.registerform tr td input {
	border:0px;
	width:200px;
}
.registerform tr td div {
	border-bottom:1px solid #ccc;
}
.registerform tr td textarea {
	border:0px;
	width:400px;
	height:100px;
}
.registerform tr td {
	border:1px solid #ccc;
	vertical-align:bottom;
}
.registerform {
	margin-bottom:16px;
}
.form_note {
	font-size:10px;
	color:#999;
}

#big_login {
	margin-top:30px;
	padding-top:20px;
	padding-bottom:20px;
	border:5px solid #eee;
	display:block;
	text-align:center;
	margin-bottom:30px;
}
#big_submit {
	width:200px;
}
.notice {
	display:block;
	border:1px solid #f00;
	border-right:8px solid #f00;
	border-left:8px solid #f00;
	padding:2px;
	padding-left:10px;
}

#whats_happening {
	border:5px solid #eee;
}
#whats_happening h3 {
	border-bottom:2px solid #ccc;
}

.title {
	border-bottom:2px solid #ccc;
}
#title {
	background:#068000;
	color:#ffffff;
	width:80%;
	padding-top:5px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}

.profile_name {
	border-bottom:4px solid #ccc;
}

#profile_box tr td {
	vertical-align:top;
}
#profile_box tr td strong {
	display:block;
}
#profile_box tr td img{
	width:250px;
	border:2px solid #ccc;
}
#contact_box {
	width:220px;
}
#contact_box div {
	padding-left:10px;
}
#interests_box {
	border:4px solid #eee;
	padding:10px;
}
.message_box {
	margin-top:30px;
}
.message_box a {
	display:block;
	border:1px solid #ccc;
	margin-bottom:1px;
}
.message_box a:hover {
	background:#248391;
	color:#fff;
}
.menubar {
	border-bottom:2px solid #ccc;
	line-height:25px;
	margin-bottom:10px;
}
.menubar a {
	border:1px solid #ccc;
	padding-left:5px;
	padding-right:5px;
}
.menubar a:hover {
	border:1px solid #9bb50b;
}
.avatar {
	height:60px;
	width:60px;
	float:left;
	margin-right:10px;
}
.blog_entry {
	margin-bottom:20px;
}